<html>
  <head>
    {{> head}}
  </head>

  <body>
    <div id="myBoard" style="width: 700px"></div>
    <label>Status:</label>
    <div id="status"></div>

    <!-- Chat Box Section -->
    <div id="chatBox">
      <ul id="chatMessages"></ul>

      <!-- Chat Input (hidden for spectators) -->
      <div id="chatInput">
        <input type="text" id="message" placeholder="Type a message..." />
        <button id="sendMessage">Send</button>
      </div>

      <!-- Spectator message (only visible for spectators) -->
      <div id="spectatorMessage" style="display: none">
        You are in Spectator mode
      </div>
    </div>

    <label>PGN:</label>
    <div id="pgn"></div>

    <script>
      let playerColor = "{{color}}"; // 'spectator' for spectators
      console.log("Playing as " + playerColor);

      if (playerColor === "spectator") {
        // Hide chat input for spectators
        document.getElementById("chatInput").style.display = "none"; // Hide chat input for spectators
        document.getElementById("spectatorMessage").style.display = "block"; // Show spectator message
      }

      document
        .getElementById("sendMessage")
        .addEventListener("click", function () {
          const messageText = document.getElementById("message").value;
          if (messageText.trim() !== "" && playerColor !== "spectator") {
            const message = {
              text: messageText,
              sender: playerColor, // Color of the player (white or black)
              timestamp: new Date().toLocaleTimeString(),
            };
            socket.emit("chatMessage", message); // Send the message to the server
            document.getElementById("message").value = ""; // Clear the input box
          }
        });
    </script>

    <script src="/public/js/index.js"></script>
  </body>
</html>
